

.dashboard-wrapper {
  margin:0px;
  padding:0px;
  display: flex;
  flex-direction:row;
  height: 100vh; /* Ensure dashboard wrapper takes full height */
}

.dashboard-sidebar {
  width: 170px; 
  flex: 0 0 auto; 
  background-color: #f0f0f0; 
  border-right: 1px solid #ccc; 
}
@media (max-width: 600px) {
  .dashboard-sidebar {
width:55px;
  }
  .dashboard-content { 
    width: fit-content}
}

.dashboard-content { 
  padding: 10px; 
  margin:0px;
  height:min-content;
  width:100%;

}

