.page-container {
    background-color: #ffffff; /* White background for pages */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like effect */
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .home-content {
    text-align: center;
  }