.filter{
    display:flex;
    flex-direction:column;
    padding:0px;
    gap:1px;
    .location-list{
        padding-left:10px;
        position: absolute; /* Positions the list relative to the closest positioned ancestor */
               left: 2;
        width: fit-content; /* Match the width of the input */
        max-height: 150px; /* Limit the height of the list */
        overflow-y: scroll; /* Adds scrollbar if the list is too long */
        background-color: white; /* Background color to ensure visibility */
        border: 1px solid #ddd; /* Border to define the list edges */
        border-radius: 4px; /* Rounded corners for a nicer look */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to give a floating effect */
        z-index: 1000; /* Ensure it appears above other elements */
    }
    h1{
        font-weight:300;
        font-size:24px;
    }
    label{
        margin-bottom:1px;
    }

    .bottom{
        display:flex;
        align-items: center;
        justify-content:space-evenly;
        gap:5px;
        input{
            padding:5px;
            border: 1px solid #e0e0e0;
            border-radius:5px;
            width:100%;
            outline:none;
        }
    button{
       width:60px;
       height:40px;
       border-radius:5px;
       margin-top:20px;
       border:none;
       cursor:pointer;
       background-color: lightblue; 
       .btn-img{
        height: 30px;
        width:30px
       }
    }
    button:hover{
        background-color: rgb(82, 105, 114); 
    }
    
    .item{
        display:flex;
        flex-direction:column;
        gap:2px;
        label{
            font-size:15px;
        }
        input, select{
            width:150px;
            padding:10px;
            border: 1px solid #e0e0e0;
            border-radius:5px;
            font-size:14px;
        }
    }
}
}